.skill-category-hover-item:hover,
.gradient-background {
  background: linear-gradient(300deg, #1a1a1a, #282828, #444444, #555555, #444444, #282828, #1a1a1a);
  background-size: 200% 200%;
  animation: gradient-animation 20s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body.gradient-background {
  min-height: 100vh;
  margin: 0;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar-slide-down {
  opacity: 0;
  transform: translateY(-100%);
  animation: slideDown 0.8s ease-out forwards;
  animation-delay: 0.2s;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer-slide-up {
  opacity: 0;
  transform: translateY(100%);
  animation: slideUp 0.8s ease-out forwards;
  animation-delay: 0.2s;
}

#sticky-navbar-container {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  z-index: 1020;
}

#sticky-navbar-container.navbar-hidden {
  transform: translateY(-100%);
}

#sticky-navbar-container.navbar-scrolled-visible {
  background-color: #1a1a1a !important;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#main-header {
   transition: padding 0.3s ease-in-out;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.content-background {
  background-color: #1a1a1a;
  border-radius: 15px;
  padding: 2rem;
  color: #ffffff;
}

.skill-category-hover-item {
    transition: background-color 0.2s ease-in-out;
}

.skill-category-heading {
    cursor: pointer;
}

.skills-badges-container {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;

    transition: opacity 0.35s ease-out, max-height 0.35s ease-out, visibility 0s linear 0.35s, margin-top 0.35s ease-out;
    margin-top: 0;
}

.skill-category-hover-item:hover .skills-badges-container {
    opacity: 1;
    max-height: 500px;
    visibility: visible;
    transition: opacity 0.35s ease-in, max-height 0.35s ease-in, visibility 0s linear 0s, margin-top 0.35s ease-in;
    margin-top: 1rem;
}

.navbar-nav .nav-link {
    font-size: 1.4rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
}

.navbar-dark .navbar-nav .nav-link.active{
    color: #ffffff !important;
    /* font-weight: bold; */
}

img {
  max-width: 100%;
  height: auto;
}