.gradient-background {
  background: linear-gradient(300deg, #1a1a1a, #333333, #1a1a1a);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body.gradient-background {
  min-height: 100vh;
  margin: 0;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar-slide-down {
  opacity: 0;
  transform: translateY(-100%);
  animation: slideDown 0.8s ease-out forwards;
  animation-delay: 0.2s;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer-slide-up {
  opacity: 0;
  transform: translateY(100%);
  animation: slideUp 0.8s ease-out forwards;
  animation-delay: 0.2s;
}

#sticky-navbar-container {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  z-index: 1020;
}

#sticky-navbar-container.navbar-hidden {
  transform: translateY(-100%);
}

#sticky-navbar-container.scrolled-container {
  background-color: #1a1a1a !important;
}

#main-header {
   transition: padding 0.3s ease-in-out;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.content-background {
  background-color: #1a1a1a;
  border-radius: 15px;
  padding: 2rem;
  color: #ffffff;*/
}